# =====================
# Python
# =====================
venv/
__pycache__/
*.pyc
*.pyo
.env

# =====================
# Node / Frontend
# =====================
node_modules/
.next/
dist/
build/

# =====================
# OS junk
# =====================
.DS_Store
Thumbs.db

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Logs
# =====================
*.log
